.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding: 0 1.5rem;
}

.title {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  color: var(--color-secondary-font);
  text-transform: uppercase;
  margin-top: 3rem;
}

.blurb {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  color: gray;
  margin-top: 1rem;
}

@media (min-width: 670px) {
  .wrapper {
    padding: 0 10.25rem;
    flex-direction: row;
    position: relative;
    /* bottom: 0;
    left: 0; */
  }

  .mainImage {
    /* position: relative; */
    bottom: 0;
    left: 0;
  }

  .content {
    background-color: var(--color-primary-background);
    position: absolute;
    /* margin: 0 10.25rem; */
    padding: 6rem 0 0 6rem;
    /* padding-bottom: 3px; */
    bottom: 0;
    left: 734px;
    width: 541px;
    /* height: 317px; */
  }

  .title {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
  }
  .blurb {
    padding-bottom: 2px;
  }
}
