.header {
  background: url("../../assets/images/mobile/image-hero.jpg") no-repeat center
    center;
  background-size: cover;
  padding: 2.5rem 1.5rem 0;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

.logo {
  z-index: 2;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  gap: var(--ham-bar-gap);
  width: 100%;
  z-index: 2;
  cursor: pointer;
}

.hamburgerMenu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input {
  content: "";
  width: var(--ham-bar-width);
  height: var(--ham-bar-height);
  background-color: var(--color-primary-font);
  transform-origin: right center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburgerMenu input:checked {
  opacity: 0;
  width: 0;
}

.hamburgerMenu:has(input:checked)::before {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--ham-bar-height) / -2);
}

.hamburgerMenu:has(input:checked)::after {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--ham-bar-height) / 2);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--color-secondary-background);
}

.navigationBar {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
}

.right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  inset: 0;
}

.headingBox {
  border: 2px solid var(--color-primary-font);
  padding: 1.625rem 1.5rem 1.5rem;
  margin-top: 50%;
}

.heading {
  color: var(--color-primary-font);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.375rem;
  text-transform: uppercase;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-secondary-background);
  padding: 2.5rem 1.5rem 0;
  transition: translate var(--animation-timing);
  translate: 100%;
}

.hamburgerMenu:has(input:checked) + .sidebar {
  translate: 0;
}

.navList {
  margin-top: 50%;
}

@media (min-width: 670px) {
  .header {
    background: linear-gradient(hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 0%, 0.4)),
      url("../../assets/images/desktop/image-hero.jpg") no-repeat;
    background-size: cover;
    padding: 4rem 10.3125rem;
    padding-bottom: 0;

    min-height: 100%;
  }

  .navigationBar {
    height: 2rem;
  }

  .hamburgerMenu {
    display: none;
  }

  .headingBox {
    border: 2px solid var(--color-primary-font);
    padding: 1.625rem 1.5rem 1.5rem;
    margin-top: 8.125rem;
    margin-bottom: 9.125rem;
    width: 650px;
  }

  .heading {
    color: var(--color-primary-font);
    font-size: 4.5rem;
    line-height: 4.375rem;
  }
}
